@using Web_ASM_Nhom6.Service
@model List<Product>
@{
    decimal Total = 0;
}
<div class="container mt-2 mb-3">
    <h1 class="text-center fw-bold mb-3">TẠO HÓA ĐƠN</h1>
    <hr>
    <div class="row">
        <div class="col-md-7">
            <h2 class="mb-4">Thông tin giao hàng</h2>
            <hr>
            <div class="mb-3">
                <label for="fullname" class="form-label">Họ và tên</label>
                <input type="text" class="form-control" value="@SUser.User.Name" id="fullname" name="fullname">
            </div>

            <div class="mb-3">
                <label for="phone" class="form-label">Số điện thoại</label>
                <input type="text" class="form-control" value="@SUser.User.Phone" id="phone" name="phone">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" value="@SUser.User.Email" id="email" name="email">
            </div>

            <div class="mb-3">
                <label for="address" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" value="@SUser.User.Address" id="address" name="address">
            </div>

            <div class="mb-3">
                <label for="note" class="form-label">Ghi chú</label>
                <textarea class="form-control" id="note" name="note" rows="2"></textarea>
            </div>
        </div>
        <div class="col-md-5">
            <h2 class="mb-4">Đơn hàng</h2>
            <hr>
            <div class="card mb-4">
                <div class="card-body" id="cartItems">
                    @foreach (var item in Model)
                    {
                        <div class="row mb-3">
                            <input type="hidden" class="prodId" value="@item.ProductId" />
                            <div class="col-4">
                                <img src="@Url.Content("~/image/"+item.Image)" alt="Sản Phẩm" width="50px" height="50px" />
                            </div>
                            <div class="col-4">
                                <span class="prodName">@item.Name</span>
                                <span class="sl">(x1)</span>
                            </div>
                            <div class="col-4 text-end"><span class="prodPrice">@item.Price.ToString("#,###")</span> VNĐ</div>
                        </div>
                        {
                            Total += item.Price;
                        }
                    }
                </div>
            </div>
            <div class="mb-4">
                <h3 class="mb-0">Tổng cộng: <span id="cart_total_money">@Total.ToString("#,###") VNĐ</span></h3>
            </div>
            <div>
                <button type="button" id="btnSuccess" class="btn btn-primary">Đặt hàng</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
       
        $("#btnSuccess").click(function (e) {
            e.preventDefault();
            var products = [];

            $("#cartItems .row").each(function () {
                var prodId = $(this).find(".prodId").val();
                var prodPrice = $(this).find(".prodPrice").text().replace(/\D/g, '');
                var prodName = $(this).find(".prodName").text();
                var prodQuantity = 1;

                if (prodId && prodPrice && prodName) {
                    products.push({
                        ProductId: prodId,
                        ProdPrice: parseInt(prodPrice),
                        ProdName: prodName,
                        ProdQuantity: parseInt(prodQuantity)
                    });
                }
            });

            var cartTotal = $("#cart_total_money").text().replace(/\D/g, '');
            var orders = {
                Products: products,
                Total: parseInt(cartTotal)
            };

            $.ajax({
                url: "/Payments/SaveOrder",
                type: "POST",
                data: JSON.stringify(orders),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response);
                    if (response && response.redirectUrl) {
                        Swal.fire({
                            title: "Thành công",
                            text: "Đặt hàng thành công",
                            icon: "success",
                        }).then((result) => {
                            if (result.isConfirmed || result.isDismissed) {
                                window.location.href = response.redirectUrl;
                            }
                        });
                    } else {
                        alert(response.message);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    alert("Đã xảy ra lỗi khi gửi yêu cầu đặt hàng.");
                }
            });
        });
    });
</script>